[submodule "spoke"]
	path = spoke
	url = https://github.com/hiiamarthur/spoke.git
[submodule "hubs"]
	path = hubs
	url = https://github.com/hiiamarthur/hubs.git
[submodule "reticulum"]
	path = reticulum
	url = https://github.com/hiiamarthur/reticulum.git
[submodule "dialog"]
	path = dialog
	url = https://github.com/hiiamarthur/dialog.git
